.reveal + .reveal {
    border-top: none;
}

.reveal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    padding: em(12px) 0 em(10px);

    p {
        max-width: 90%;

        @include respond(min-width, 800px) {
            max-width: 100%;
        }
    }

    &.is-open {
        .reveal__heading button:after {
            transform: rotate(270deg);
        }

        .reveal__hidden {
            display: block;
        }
    }
}

.js-reveal .reveal__hidden {
    display: none;
}

.reveal__heading {
    font-size: rem(20px);
    font-family: $ff--alt;
    padding-right: rem(30px);

    @include respond(min-width, 300px) {
        font-size: rem(25px);
    }

    @include respond(min-width, 800px) {
        font-size: rem(32px);
    }

    button {
        width: 100%;
        text-align: left;
        border: none;
        background: none;
        padding: 0;
        position: relative;
        color: black;

        &:hover {
            cursor: pointer;
        }

        &:after {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background: url('../images/icons/arrow-icon.svg');
            background-size: cover;
            position: absolute;
            top: - rem(4px);
            right: - rem(30px);
            transition: transform 200ms;
            transform: rotate(90deg);

            @include respond(min-width, 300px) {
                top: - rem(2px);
                width: 40px;
                height: 40px;
            }
        }
    }
}

.reveal__content {
    padding: em(10px) 0;

    @include respond(min-width, 300px) {
        padding: em(20px) 0;
    }
}
