{% extends 'base.twig' %}

{% block content %}
<article class="post-type-{{ post.post_type }}">
    <div class="body-text"><br><br>
        <h1>404 - Not Found</h1>
        <p>The page you are looking for does not exist. <a href="{{ site.url }}">Go Home?</a></p><br>
    </div>
</article>

{% endblock %}
