<div class="page-footer container">
    <div class="page-footer__column footer-menu">
        <h3>{{ menu_footer.title }}</h3>
        <hr />
        {% include 'partials/menu-list.twig' with {'menu': menu_footer} %}
    </div>
    <div class="page-footer__column">

    </div>
    <div class="page-footer__column">

    </div>
</div>
<div class="page-footer-copyright">
    &copy; Scottish Youth Climate Strike {{ "now"|date("Y") }} | GPLv3.0
</div>
