{% extends 'base.twig'%}

{% block content %}
<article class="post-type{{ post.post_type }}">
    <div class="body-text">
        {{ post.content }}
    </div>
</article>

<div class="events-list flex">
    {% for event in events %}
        {% include 'partials/tease-event.twig' with {'event': event, 'class': "flex-item"} %}
    {% endfor %}
</div>

{% endblock %}
