<div id="sidebar" class="sidebar">
    {% include 'partials/burger.twig' %}
    <nav class="sidebar-navigation">
        {% include 'partials/menu-list.twig' with {'menu': menu_primary_navigation.items} %}
    </nav>
    <div class="socials">
        {% include 'partials/icon-menu-list.twig' with {'menu': menu_socials.items, 'color': "#000"} %}
    </div>
</div>
