.flex {
    display: flex;
}

.flex-item {
    @include respond(max-width, $bp--columns-2) {
        width: 100%;
    }
    @include respond(min-width, $bp--columns-2) {
        width: 50%;
    }
    @include respond(min-width, $bp--columns-3) {
        width: 33%;
    }
}

.container {
    padding: 1em;
}

.scroll {
    overflow: scroll;
}
.scroll-x {
    overflow-x: scroll;
}
.scroll-y {
    overflow-y: scroll;
}
