.page-footer {
    background-color: #000;
    color: #fff;

    padding: 4em;

    &-copyright {
        background-color: #000;
        color: #fff;

        text-align: center;
    }
}

.footer-menu {

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }
}
