.post {
    .author {
        font-style: italic;
        color: #68a060;
    }

    .date {
        font-family: $ff--alt;
        color: #cecece;
        text-align: right;
    }
}

.post-type-ecr_event {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 2em;

    .events-list {
        width: 25%;
        @include respond(max-width, 800px) {
            width: 100%;
        }

        .tease-event {
            width: 100%;
        }
    }

    @include respond(min-wdith, 800px) {
        flex-wrap: nowrap;
    }
}

.event-meta {
    
    hr {
        margin-bottom: 1em;
    }

    &__thumbnail {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding: 1em;
        background-size: cover;
        background-position: center;

        min-height: 8em;

        color: #888;
    }

    &__item_wrap {
        margin: 2em;
        padding: 2em;

        background-color: #f2f2f2;

        div {
            margin-bottom: 1em;
        }
    }

    &__date {
        display: flex;
        
        p {
            width: 50%;
        }
    }
}
