/* Post */
.tease {

    .title {
        a {
            text-decoration: none;
            color: #000;
        }

        &::after{
            content: '\A';
        }
    }
    .author {
        font-style: italic;
        color: #68a060;
    }

    .preview {
        padding: 2em;
    }
    .thumbnail {
        height: 4em;
    }
    .more {
        color: #cecece;
        text-align: right;
    }

    .date {
        font-family: $ff--alt;
        color: #cecece;

        text-align: right;
    }


    margin-top: 2em;
    margin-bottom: 2em;

    padding: 1em;

    -webkit-box-shadow: 5px 5px 5px 0px rgba(206,206,206,1);
       -moz-box-shadow: 5px 5px 5px 0px rgba(206,206,206,1);
            box-shadow: 5px 5px 5px 0px rgba(206,206,206,1);
}

/* ECR Event */
.events-list {
    flex-wrap: wrap;
    padding: 0.625em;
}
.tease-event {
    width: calc(33% - 1.25em);
    margin: 0.625em;
    padding: 0.625em;

    background-color: #f2f2f2;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    >* { 
        padding: 0.625em;
    }

    &__img {
        margin: -0.625em;
        min-height: 16em;

        background-color: #000;
        background-size: cover;
    }

    &__date-short {
        color: #fff;

        font-weight: bolder;
    }
    
    &__body h2 {
        font-size: 2em;
        text-align: center;
        margin: 0.5em;
    }

    &__date-long {
        display: flex;
        justify-content: space-between;
    }

    &__location {
        display: flex;
        justify-content: space-between;
        
        .location {
            flex-grow: 1;
        }
        .postcode {
            font-weight: bold;
        }
    }

    &__button {
        text-align: center;
        margin-top: 1em;
    }

    @include respond(max-width, $widths-large) {
        width: 50%;
    }
    @include respond(max-width, $widths-medium - 1) {
        width: 100%;
    }

}
