@font-face {
    font-family: 'FucXed';
    src: url("../fonts/fucxedcaps-v3-webfont.woff2") format("woff2");
    font-style:normal;
    font-weight:normal;
}

$ff--main: 'Open Sans', sans-serif;
$ff--alt: 'FucXed', sans-serif;
$ff--heading: $ff--alt;

// fonts sizes
$fs--base: 16px;
$fs--browser-default: 16px;
$fs--body: 23px;
$fs--alpha: 60px;
$fs--beta: 32px;
$fs--gamma: 25px;
$fs--delta: 22px;
$fs--epsilon: 20px;
$fs--zeta: 16px;
$fs--input: 16px;
$fs--label: 20px;
$fs--btn-primary: 25px;
$fs--btn-secondary: 20px;

