<!--<span class="site-name jumbo"><a style="color:#000;text-decoration:none;" href="{{ site.url }}">climate<br />strike.scot</a></span>-->
<a href="{{ site.url }}">
    {#{% if is_front_page %} <img src="{{ theme.link ~ '/images/logo.svg' }}" class="site-logo-large" />#}
    <img src="{{ theme.link ~ '/images/logotype.svg' }}" class="site-logo" />
</a>

