<div class="big-stats">
    <div class="item-list item-list--three">
        {% for stat in stats %}
            <div class="big-stats__item">
                <div class="wrap">
                    <div class="big-stats__img">
                        <img src="{{ stat.img.url }}" />
                    </div>
                    <div class="big-stat__text">{{ stat.text }}</div>
                </div>
            </div>
        {% endfor %}
    </div><!-- .item-list -->
</div><!-- .big-stats -->

{#
Investigate using dynamic text

<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 179 124" width="179" height="124"><defs><clipPath id="_clipPath_eYkBiJMRzfwbrHt7M3UCAM5jdY2w3jXT"><rect width="179" height="124"/></clipPath></defs><g clip-path="url(#_clipPath_eYkBiJMRzfwbrHt7M3UCAM5jdY2w3jXT)"><g transform="matrix(9.375,0,0,9.375,-6,-23)"><text transform="matrix(1,0,0,1,0,15.12)" style="font-family:'FucXed';font-weight:400;font-size:16px;font-style:normal;font-variant-ligatures:none;word-spacing:0.032;letter-spacing:-0.032;fill:#000000;stroke:none;">5%</text></g></g></svg> -->
#}
