{% set hasHeroBlock = function('has_block', 'xr/hero', post.id) %}

<div class="featured-text">
    {% if not hasHero %}
        <h1>{{ post.title }}</h1>
    {% endif %}

    <div class="featured-text__content">
        {{ content }}
    </div>
</div>
