<div id="climatestrike-nearest">
    <form id="climatestrike-nearest-form" action="/strike/">
        <div class="form-wrap">
            <div class="form-group" style="flex-grow: 1;">
                <label style="display:none;" for="nearest-postcode">Postcode</label>
                <input id="nearest-postcode" type="text" name="near" placeholder="Postcode" required="" />
            </div>
            <div class="form-group">
                <label style="display: none" for="nearest-submit">Find a strike</label>
                <input id="nearest-submit" type="submit" value="Find a strike" />
            </div>
        </div>
    </form>
</div>
