<dl class="reveal js-reveal">
    <dt class="reveal__heading js-reveal-heading">
        {{ title }}
    </dt>
    {% if visibleText %}
        <dd class="reveal__content type">
            <p>{{ visibleText }}</p>

            <div class="reveal__hidden type">
                {{ hiddenContent }}
            </div>
        </dd>
    {% else %}
    <dd class="reveal__content reveal__hidden type">
        {{ hiddenContent }}
    </dd>
    {% endif %}
</dl>
