<div id="climatestrike-signup-wrapper">
    <h1 class="jumbo" id="signup">{{ title }}</h1>
    <div id="notice"><ul></ul></div>
    <form id="climatestrike-signup-form" action="{{ site.url }}/#signup" target="submission-frame">
      <div class="form-wrap">
        <div class="form-group">
          <label style="display:none;" for="in-first-name">First name</label>
          <input id="in-first-name" type="text" name="first-name" placeholder="First Name" required="">
        </div>
        <div class="form-group">
          <label style="display:none;" for="in-last-name">Last Name</label>
          <input id="in-last-name" type="text" name="last-name" placeholder="Last Name" required="">
        </div>
        <div class="form-group">
          <label style="display:none;" for="in-phone-number">Phone Number</label>
          <input id="in-phone-number" type="text" name="phone-number" placeholder="Phone Number (Optional)">
        </div>
        <div class="form-group">
          <label style="display:none;" for="in-email">Email Address</label>
          <input id="in-email" type="email" name="email" placeholder="Email Address" required="">
        </div>
        <div class="form-group">
          <label style="display:none;" for="in-postcode">Post Code</label>
          <input id="in-potcode" type="text" name="postcode" placeholder="Postcode (Optional)">
        </div>
        <div class="form-group">
          <label style="display:none;" for="in-submit">{{ button }}</label>
          <input id="in-submit" type="submit" value="{{ button }}">
        </div>
        <div class="form-group form-checkbox">
          <label for="in-gdpr-consent">I give my consent to SYCS to contact me via phone or email using the information I have provided in this form.</label>
          <input id="in-gdpr-consent" type="checkbox" name="gdpr-consent" value="Yes" required="">
      </div>
      <div class="form-group form-checkbox">
          <label for="in-join">I would like to join SYCS.</label>
          <input id="in-join" type="checkbox" name="join" value="Yes" {% if join %} checked="true" {% endif %} >
      </div>
      <div class="form-group {% if join == false %}is-hidden{% endif %}" id="fg-yob">
          <input id="in-yob" name="yob" type="text" placeholder="Year of Birth" {% if join %} required=""{% endif %} >
      </div><div class="form-group"></div><div class="form-group"></div>
     </div>
    </form>
</div>
