.burger {
    background: none;
    border: none;

    padding: 0.5em;

    transition: 0.4s;

    @include respond(min-width, 800px) {
        display: none;
    }

    &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
    }
}
