.page-footer {
    background-color: #000;
    width: 100%;
    min-height: 25px;
    
    box-sizing: border-box;
    padding: .625rem;

    color: #fff;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-footer__column {
    flex: 1 1 300px;
}

.footer-menu {
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
} 

.page-footer-copyright {
    width: 100%;
    text-align: center;

    background-color: #000;
    color: #fff;
}
