#sign-up-wrapper {
    margin-top: 4em;
    padding: .625em;
    @include respond(max-width, 800px)  {
        padding: 0;
        margin-top: 1em;
    }
}

.notice {
    color: red;
}

.form-group {
    padding: .625em;
    @include respond(max-width, 800px) {
        padding: .625em 0;
    }
}
.form-wrap {
    padding: .625em;
}

.form-wrap {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.form-wrap > * {
    width: 33.333%;
    @include respond(max-width, 800px)  {
        width: 100%;
    }
}
.form-group {
    input {
        width: 100%;
        border: none;

        line-height: 1;
        padding: .8125rem 1rem .75rem;
    }
    input[type="text"], input[type="email"] {
        background-color: #fff;
        border: 1px solid #f1f1f1;
    }
    input[type="submit"] {
        background-color: #000;
        color: #fff;
    }
    label {
        display: none;
    } 
}

.form-checkbox {
    display: flex;
    width: 100%;

    label {
        display: block;
        order: 1;
    }
    input[type="checkbox"] {
        order: 0;
        width: 1em;
        margin: 0 1em;
    }
}
