.socials {
    
    height: 5rem;
    
    ul {
        list-style: none;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        margin: 0;
        padding: 0;
    }

    img {
        height: 2.5em;
    }

    @include respond(max-width, 800px) {
        display: none;
    }
}
