.login {
    background-color: #f0f0f0;
    font-family: Helvetica,Arial,sans-serif;

    h1 a {
        background-image: url("../images/logo.png");
    }
    
    #wp-submit {
        background-color: #42af2a;
        border: #f0f4ef;
    }

    a {
        color: #42af2a !important;
    }
}
